body {
  background-color: #333;
}

html, body, #interactive-pacbot, #interactive-pacbot>canvas {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0px;
  padding: 0px;
}

#interactive-pacbot>canvas {
  margin-left: auto;
  margin-right: auto;
}
